# Кэш Python (автоматически создаётся при запуске, не нужен в репозитории)
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение (твоя папка .venv или venv)
.venv/
venv/
env/

# Старые папки, черновики и тестовые ветки (то, что ты видел в git status)
old/
qa_python_4/

# Файлы редакторов кода
.vscode/
.idea/

# Системные файлы ОС
.DS_Store
Thumbs.db

# Локальные конфиги (если будут)
.env 